/* Global Styles */
img {
    display: block;
    width: 40%;
    margin: 0 auto;
}
body {

    background-color: #273E47;
}
h1, h2, h3 {
    text-align: center;
    font-family: 'Syne Tactile', cursive;
    color: #273E47;
		font-size: 4.3em;
}

audio, video {
    display: block;
    width: 70px;
    
}

header {
    padding: 10px 0;
background-color: #A7CAB1;
}

header img {
    width: 25%;
    padding: 2px;
}

#container {
    background-color: #FAAA8D;
    padding: 0%;
    margin: auto;
}

nav {
    background-color: #FAAA8D;
    text-align: center;
		height: 100px;
}

nav ul {
    list-style-type: display;
	height: 100;
    padding: 25px;
	margin: 20px;
	border-bottom: 4px solid #273E47;
}

nav li {
    display: block;
    
}
nav li a {
    display: block;
    background-color: #A7CAB1;
    color: black;
    height: 20;
		width: 15px;
    line-height: 40px;
    font-size: 0.95em;
    text-decoration: none;
		border: 2px solid #273E47;
		width: 20;
		text-align: center;
		padding-top:5px;
}

nav li a:hover {
    background-color: chocolate;
}

.col {
    border: 4px solid #273E47;
		padding: 10px 0;
}

.col img {
    width: 30%;
}

main img {
    width: 50%;

}

footer {
    text-align: center;
}

.learn_more {
    width: 150px;
    display: block;
    background-color: darkmagenta;
    color: black;
    height: 40;
    line-height: 50px;
    font-size: 1.2em;
    text-decoration: none;
}

.learn_more:hover {
    background-color: chocolate;
}
/* mobile styles */
/* tablet styles */
@media (min-width: 768px) {
    
}
header img {
    width: 35%;
}

nav li {
    display: inline-block;
    border: none;
}
nav li a {
    width: 175px;
    margin: left 20px right 20px;
}
main img {
    width: 40%;
}
.col img {
    width: 30%;
}

/* desktop */

@media (min-width: 222222px) {

}
